<p id="notice"><%= notice %></p>

<h1>Listing Cheeses</h1>


<table>
  <div class="container">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheeses.each do |cheese| %>
      <tr>
        <td><%= link_to("#{cheese.name}", cheese) %></td>
        <td><%= link_to 'Show', cheese %></td>
        <td><%= link_to 'Edit', edit_cheese_path(cheese) %></td>
        <td><%= link_to 'Destroy', cheese, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>
